body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.well {
    background-color: #e6e6e6;
    padding: 10px;
}

btn.hide{
    display: none;
}

btn.show{
    display: inherit;
}

.div-no-margin{
    margin: 0%;
}

.lblMovDet {
    width:100px;
    size: 100px;
    padding-right: 10px;
}

span.spanMovDet {
    margin-bottom: 50px;
    /*padding-left: 20px;*/
}

span.spanMovDetEdit {
    margin-bottom: 50px;
    background-color: #e6e6e6;
    padding-left: 20px;
}

.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: auto;
    height: 30px;
    margin-top: 20px;
}

.rating > input {
    opacity: 0;
    margin-right: -100%;
}

.rating > label {
    float: right;
    position: relative;
    display: block;
    background: url('../img/star-off.png');
    background-size: 30px 30px;
}

.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../img/star-on.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }